/* src/CounterPage.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .counter {
    font-size: 3em;
    margin-bottom: 20px;
    color: #fff;
  }
  
  button {
    font-size: 1.2em;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: rgb(47, 255, 95);
    color: #fff;
    border: none;
    border-radius: 5px;
    outline: none;
  }
  
  button:hover {
    background-color: green;
  }
  
  input {
    font-size: 1.2em;
    padding: 10px;
    width: 70px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  